# Logs
logs
*.log
pnpm-debug.log*

# Build System & Dependencies
.turbo
.tmp
node_modules
dist
*.local
*.tsbuildinfo

# Editors & Platforms
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
