# Logs
logs
*.log
pnpm-debug.log*

# Build System & Dependencies
.turbo
node_modules
dist
*.local

# Editors & Platforms
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
