@use "utils" as *;

:root {
  color: get-color("primary");
  background-color: get-color("background");
  &::selection {
    color: get-color("primary", "content");
    background-color: get-color("primary");
  }
}