@use "utils" as *;

// LIGHT theme is defined under the :root.
:root {
  --color-background: hsl(0 0 100%);
  --color-paper: hsl(0 0 98%);
  --color-primary: hsl(0 0 15%);
  --color-primary-content: hsl(0 0 100%);
  --color-primary-focus: hsl(0 0 20% / 50%);
  --color-primary-hover: hsl(0 0 20%);
  --color-primary-text: hsl(0 0 10%);
  --color-secondary: hsl(0 0 88%);
  --color-secondary-content: hsl(0 0 10%);
  --color-secondary-hover: hsl(0 0 83%);
  --color-secondary-text: hsl(0 0 32%);
  --color-disabled: hsl(0 0 35%);
  --color-disabled-content: hsl(0 0 100%);
  --color-accent: hsl(240 30% 45%);
  --color-accent-content: hsl(0 0 100%);
  --color-accent-focus: hsl(240 65% 60% / 75%);
  --color-accent-hover: hsl(240 30% 50%);
  --color-accent-text: hsl(240 70% 40%);
  --color-error: hsl(5 50% 45%);
  --color-error-content: hsl(0 0 100%);
  --color-error-focus: hsl(5 75% 40% / 75%);
  --color-error-hover: hsl(5 50% 50%);
  --color-error-text: hsl(5 75% 40%);
}

// DARK theme is defined under the .dark custom class.
.dark {
  --color-background: hsl(0 0 5%);
  --color-paper: hsl(0 0 15%);
  --color-glass: hsl(0 0 15% / 50%);
  --color-primary: hsl(0 0 100%);
  --color-primary-content: hsl(0 0 10%);
  --color-primary-focus: hsl(0 0 100% / 50%);
  --color-primary-hover: hsl(0 0 90%);
  --color-primary-text: hsl(0 0 100%);
  --color-secondary: hsl(0 0 30%);
  --color-secondary-content: hsl(0 0 100%);
  --color-secondary-hover: hsl(0 0 35%);
  --color-secondary-text: hsl(0 0 78%);
  --color-disabled: hsl(0 0 78%);
  --color-disabled-content: hsl(0 0 10%);
  --color-accent-text: hsl(240 60% 80%);
  --color-accent-focus: hsl(240 60% 75% / 75%);
  --color-error-text: hsl(5 95% 75%);
  --color-error-focus: hsl(5 95% 75% / 75%);
}

// stylelint-disable no-duplicate-selectors 
// -- :root is used twice in order to improve readability.
:root {
  color: get-color("primary");
  background-color: get-color("background");
  &::selection {
    color: get-color("primary", "content");
    background-color: get-color("primary");
  }
}