@use "../base/utils" as *;

.pgs-root {
  height: get-size(1.5);
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: get-radius("full");
  background-color: get-color("secondary");
}

.pgs-indicator {
  height: 100%;
  position: absolute;
  border-radius: get-radius("full");
  transition: width .1s linear;
  left: 0;
}
@each $color in ("primary", "accent") {
  .pgs-#{$color} {
    background-color: get-color($color);
  }
}